<!DOCTYPE html>
<html>
<head>
    <title>Skin Lesion Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Automated Skin Lesion Classification</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Detect</button>
    </form>

    {% if prediction %}
    <div class="result">
        <h2>
            {{ prediction }}
            <span class="badge">{{ short_name | upper }}</span>
        </h2>
        <p>Confidence: {{ (confidence * 100) | round(2) }}%</p>

        <div class="images">
            <div>
                <h3 class="image-title">Uploaded Image</h3>
                <img src="{{ img_path }}">
            </div>

            <div>
                <h3 class="image-title">Grad-CAM Heatmap</h3>
                <img src="{{ heatmap_path }}">
            </div>
        </div>
    </div>
    {% endif %}
</div>

</body>
</html>
